*{
    margin: 0;
    padding: 0;
}

.Titulo_1{
    color: rgb(72, 72, 147);
    padding: 30px  10px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}